.required-stack {
    background-color: #154038;
}

.card-footer--tags {
    background-color: #282828;
}

.card-container {
    background-color: #1E1E1E;
}

.card-header--subheading {
    color: #5C5757;
}

.card-middle--requiretext {
    color: #D9D9D9;
}

.hackathoncard-join-button {
    background-color: #181A1B;
}